# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front/node_modules
**/node_modules
**/*.node

# next.js
front/.next
front/out/

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

.npmrc
